{%extends 'pages/base.html'%} {%block content%} {{block.super}}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}    
<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
    <div class="spc" style="margin-top: 30px; margin-left: 300px; margin-bottom: 20px;display: flex;">
        {% for image in images %}
        <img src=" {{image.image.url}} " class="rounded-circle" style="width: 40px; height: 40px; border-style: solid; border-color: rgb(233, 66, 75); margin-left: 15px;" alt="" srcset="">
        <p style="margin-top: 35px; margin-left: -25px;font-size: x-small;"> {{image.user}} </p>
        {%endfor%}
    </div>
    <div class="container">
       {%for image in images%}
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
               
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="card" style="width: 30rem; margin-bottom: 20px;">
                <div class="card-header">
                   <img src=" {{image.image.url}} " class="rounded-circle" style="width: 40px; height: 40px;" alt="" srcset="">
                    <span> {{image.user}} </span>
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                          <b>{{image.image_name}}</b>
                      </button>
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> {{image.image_name}} </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src=" {{image.image.url}} " alt="" srcset="">
                                <p style="margin-left:50px ; justify-content: space-around;">posts <span>following</span> followers</p>
                                <p>{{image.image_caption}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-dismiss="modal" style="margin-right: 300px; border: grey; border-radius: 1px;">message</button>
                                <button type="button" class="btn btn-sm">follow</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    
                </div>
                <div class="card-body">
                    <img src=" {{image.image.url}} " class="card-img" alt="">
                </div>
                <div class="card-footer">
                    <div>
                        <i class='far fa-heart' style='font-size:18px'></i>
                        <i class='far fa-comment' style='font-size:18px'></i>
                        <i class="fa fa-send-o" style="font-size:18px"></i>
                        <i style="font-size:18px" class="fa">&#xf1d9;</i>
                    </div>
                    <b>liked by{{image.username}} {{image.likes}} likes</b>
                    <p class="card-subtitle mb-2"> <span> <b>{{image.image_name}}</b></span> {{image.image_caption}}<p> 
                </div>
                     <p class="card-text text-muted"> <span><i class='far fa-smile-beam' style='font-size:24px'></i></span> add comment
                    <a href=" {%url 'profile'%} " class="card-text" style="margin-left: 250px;color: rgb(152, 152, 243); font-weight: bold;"> Post </a>
                    </p>  
           </div>
           </div>
           <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                 <div style="margin-left: 100px;">
                <img src=" {{image.image.url}} " class="rounded-circle" style="width: 40px; height: 40px;" alt="" srcset=""> <span>{{image.user}} <a href="#">follow</a> </span>
                <p class="text-muted" style="margin-left: 40px;">Follows you</p>
          </div>
            </div>
        
        </div>
       {% endfor %}

    </div>

{% endblock %}