{% load static %}
{% load crispy_forms_tags %}
 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-left: 100px" href="#">
    <img src=" {% static '/images/Instagram_logo.png'%} " alt="Instagram" srcset="">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="navbar-form" role="search" action="{% url 'search_user' %}">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="article">
            <div class="input-group-btn">
              <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
    </div>
    <div>
      {% if user.is_authenticated %}
      <ul style="padding-right: 15px;">
        <a href=" {%url 'my_page' %} " style="color: black;"> <i class="fas fa-home " style="font-size: 18px;"></i></a>
        <i style="font-size:18px" class="fa">&#xf1d9;</i>
        <a href=" {% url 'profile' %} " style="color: black;"><i class='fa fa-plus-square black-color' style="font-size: 18px;"></i></a>
         
        <i class='far fa-heart' style='font-size:18px'></i>
        <i class='fas fa-user-circle' style='font-size:18px'>
          <!-- <li> <a href="{% url 'profile' %}}">profile</a>
          <a href="/accounts/logout">Logout</a> -->
        </i>
          
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
