{%extends 'pages/base.html'%} {%block content%} {{block.super}}
{% load bootstrap4 %}
{% load crispy_forms_tags %}  

<div class="container">
    <div class="row">
        {% for posts in post %}
        <div class="col-sm-4 col-md-4 col-lg-4">
                   {%if user.profile_photo %}
                      <img src=" {post.profile_photo.url} "  class="rounded-circle" alt="" srcset="">
                     {% endif %}
        </div>
        {%endfor%}
        <div class="card-body">
             <form  action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
                     {% csrf_token %} {{ profile_form|crispy }}
                   <input type="submit" class="btn btn-success btn-sm" value="Post">
              </form>
                 {% block scripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                {% bootstrap_javascript %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}