{%extends "pages/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 80px;">
   <div class="card text-center" style="width: 24rem;">
     <div class="card-title">
        <b class="text-center">Login Or Register To Instagram<b>
     </div>
     <div class="card-body">
            <form  action="login/" method="post" style="margin-left:100px ;">
            {% csrf_token %}
            {{ login_form|crispy }}
            <div class="form-group" style="margin-left:70px ; margin-top: 10px;">
               <button class="btn btn-primary" type="submit">login </button>
               <!-- <a href="/" class="btn btn-primary">login</a> -->
            </div>
          </form>
     </div>
     <div class="card-footer">
        <p class="text-center">Don't have an account? <a href="{%url 'register'%}">Create an account</a>.</p>
     </div>
   </div>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}