{%extends 'pages/base.html' %}
{% block content %}
{% load crispy_forms_tags %}    
<div class="container">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <div class="card text-center" style="width: 30rem;">
                 <div class="panel panel-default">

                <div class="card-header">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="card-body">

                    <form action="/accounts/register/" method="post">
                        {% csrf_token %} 	{{ register_form|crispy }} 
                       <button class="btn btn-primary" type="submit">Register</button>
                       <!-- <a href="/login/?next=/" class="btn btn-primary">Register</a> -->
                       <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <div class="card-footer">
                    <p class="text-center">If you already have an account, <a href="/login">login</a></p>
                    </div>
                </div>

            </div>
            </div>
        </div>
        <!-- empty div -->
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}